.results-block {
  width: 75%;

  &__devices {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    overflow-y: auto;
    padding-top: 1rem;

    .device {
      height: 500px;
      width: 250px;
      padding: 1rem;
      max-width: 300px;
      background-color: #d5d5d5;
      cursor: pointer;

      &__heading {
        font-size: 1.1rem;
        text-align: center;
        font-weight: 1;
      }
    }
  }
}